### Examples Configuration ###
examples/config/*
!examples/config/configuration.yaml.example

### Intellij ###
.idea/
/out/
/*/out.map

### Intellij Patch ###
*.iml

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Android Studio
.idea
.gradle
local.properties
/*/out
/*/*/build
build
/*/*/production
*.iws
*.ipr
*~
*.swp

# Other KMM secific
captures
.externalNativeBuild
.cxx
xcuserdata

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store
